body{
    background-color: white;
}
table{
border-collapse: collapse;;
}

table {
    border: 4px solid black;
}

td{
    border: 2px solid black;
}

td:nth-child(3n) {
border-right: 4px solid black;
}

tr:nth-child(3n) {
    border-bottom: 4px solid black;
}

td{
    width: 6rem;
    height: 6rem;
}

.one{
    background-color: red;
}